.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
.button3:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), color-stop(0.5, white), to(#efefef));
}
.button3 {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), color-stop(0.5, #efefef), to(white));
  border: 1px solid #888888;
  border-radius: 5px;
  padding: 2px 4px;
}
.navbar .btn-tweet {
  background-position: 0 -140px;
  background-color: #2c77ba;
  float: left;
  height: 28px;
  padding: 3px 4px 5px 10px;
  color: #bbbbbb;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  border-color: #111111;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
}
.navbar .btn-tweet:hover {
  border-color: black;
  background-position: 0 -170px;
}
.navbar .btn-tweet:active {
  background-position: 0 -200px;
  -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.25);
}
.btn-tweet,
.btn-tweet:hover {
  background-image: url(../images/twitter_web_sprite_bgs.png);
  background-repeat: repeat-x;
}
.nav-tweet {
  background-position: -160px -50px;
  width: 22px;
  height: 18px;
}
i {
  display: inline-block;
  background-image: url(../images/twitter_web_sprite_icons.png);
  background-repeat: no-repeat;
}
.icon-16 {
  width: 16px;
  height: 16px;
  line-height: 16px;
}
.module {
  text-shadow: 0 1px 0 white;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.module .flex-module {
  background-color: #f9f9f9;
  padding: 12px;
  line-height: 16px;
}
.profile-stats {
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  *zoom: 1;
}
.profile-stats:before,
.profile-stats:after {
  display: table;
  content: "";
}
.profile-stats:after {
  clear: both;
}
.profile-stats li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.profile-stats a strong {
  display: block;
  color: #333333;
  font-size: 14px;
}
.relationship-btn .btn-text {
  display: none;
  min-width: 70px;
}
.relationship-btn .action-follow {
  display: block;
}
.relationship-btn.following .action-follow {
  display: none;
}
.relationship-btn.following .action-following {
  display: block;
}
.relationship-btn.following:hover {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.relationship-btn.following:hover:hover,
.relationship-btn.following:hover:active,
.relationship-btn.following:hover.active,
.relationship-btn.following:hover.disabled,
.relationship-btn.following:hover[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}
.relationship-btn.following:hover:active,
.relationship-btn.following:hover.active {
  background-color: #942a25 \9;
}
.relationship-btn.following:hover .action-following {
  display: none;
}
.relationship-btn.following:hover .action-unfollow {
  display: block;
}
.mini-profile .fullname {
  display: block;
}
.profile-summary {
  position: relative;
  min-height: 50px;
}
.profile-summary .content {
  margin-left: 59px;
}
.profile-summary .avatar {
  position: absolute;
  top: 0;
  left: 0;
}
.profile-card .profile-stats li {
  float: none;
  padding: 6px 12px 6px 0;
  border-top: 1px solid #e8e8e8;
}
.profile-card .profile-stats li:first-child {
  border-top: 0;
}
.profile-card .profile-stats strong {
  margin-right: 2px;
  display: inline;
}
.profile-card-inner {
  margin-left: 12px;
  float: left;
}
.profile-card-actions {
  float: right;
}
.stream-item {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.stream-item-vcard {
  margin-right: 10px;
}
.stream-item-content {
  -webkit-box-flex: 1;
}
.stream-item {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e8e8e8;
  padding: 9px 12px;
}
.stream-item:first-child {
    border-top: 1px solid #e8e8e8;
}
.stream-item-footer {
  overflow: hidden;
  margin: 1em 0 .5em 0;
}
.stream-item-footer .actions {
  list-style-type: none;
  float: right;
}
.stream-item-footer .actions,
.stream-item-footer .actions li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.tweet .tweet {
  background: whiteSmoke;
  border-radius: 5px;
  padding: 9px 12px;
}
.tweet-pic {
  position: relative;
}
.tweet-pic .throbber {
  position: absolute;
}
.tweet-pic .tweet-pic-thumb img {
  cursor: url(../images/big.cur), auto;
}
.stream-item .tweet-pic-origin canvas,
.stream-item .tweet-pic-origin img {
  cursor: url(../images/small.cur), auto;
}
.tweet-pic .actions {
  margin-bottom: 1em;
}
.tweet-pic .actions a {
  margin-right: .3em;
}
.stream-item-profile .actions {
  float: right;
}
.stream-item-profile .content {
  margin-right: 150px;
}
.icon-favorite {
  background-position: 0 -87px;
}
.icons-favorite:hover {
  background-position: 0 -235px;
}
.icon-favorite.favorited, .favorited .icon-favorited {
  background-position: 0 -117px;
}
.icon-del {
  background-position: 0 1px;
}
.icon-del:hover {
  background-position: 0 -150px;
}
.icon-comment {
  background-position: 0 -59px;
}
.icon-comment:hover {
  background-position: 0 -260px;
}
.icon-repost {
  background-position: 0 -28px;
}
.icon-repost:hover {
  background-position: 0 -179px;
}
#status-modal,
#status-modal .modal-body {
  overflow: visible;
}
.status-actions-list {
  list-style-type: none;
}
.status-actions-list,
.status-actions-list li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
#message-top {
  top: 0;
  width: 100%;
  text-align: center;
}
#message-top .message-inner {
  padding: 2px 10px;
  background: #f9edbe;
  display: inline-block;
}

/*=================
  STATUS
==================*/
.status-aside label input {
    float: left;
    margin-right: .5em;
}

.status-counter.danger {
    color: red;
}
.emoticons {
    width: 400px;
}

.emoticons-header {
    position: relative;
    overflow: hidden;
}

.emoticons-category-list {
    white-space:nowrap;
    float: left;
    width: 330px;
    margin-bottom: 10px;
}

.emoticons-category-list li {
    float: left;
}

.emoticons-category-list a {
    float: left;
    padding: 3px 12px;
}

.emoticons-category-list .active a {
    color: white;
    background-color: #08C;
}

.emoticons-nav {
    position: absolute;
    top: 2px;
    right: 2px;
}

.emoticons-body img {
    cursor: pointer;
    padding: 2px;
}

.status-unread-count {
    border: 1px solid #F9F2A7;
    background: #FEFDED;
    text-align: center;
    cursor: pointer;
    color: #F48C12;
}

.status-unread-count:hover {
    background: #FFFDE0;
}


/*=================
  TYPO
==================*/
input {
    display: inline-block;
}